---
// SiteHeader displays "charmayne" as clickable link to homepage
---

<header class="site-header">
  <a href="/" class="site-name text-site-name">charmayne</a>
</header>

<style>
  .site-header {
    margin-bottom: 65px;
  }

  .site-name {
    display: inline-block;
    text-decoration: none;
  }
</style>
